In [1]:
import pandas as pd

# Utils
import src.utils.visualization.gantt_diagram as gantt
from src.utils.rolling_process.rolling_filter import *
from src.utils.editor import enrich_schedule_dframe

from src.utils.logging import print_experiment_log

# Analysis utils
from src.utils.analysis_basics import check_constraints as check
from src.utils.analysis_basics.check_lateness import get_jobs_with_lateness_metrics, get_jobs_aggregated
from src.utils.analysis.compare_sequences import get_comparison_dataframe, compute_sum_levenshtein_distance, \
    compute_mean_kendall_tau, get_shared_operations_number

# Solver
from src.solvers.converter import get_job_ops_dict, get_times_dict, get_schedule_dframe, get_active_ops
from src.solvers.cp.lateness import solve_jssp_lateness_with_start_deviation_minimization, \
    solve_jssp_lateness_with_order_deviation_minimization

# Simulation
from src.simulation.ProductionRollingSimulation import ProductionSimulation

# Data access
from configs.path_manager import get_path

pd.set_option('display.min_rows', 12)
pd.set_option('display.max_rows', 16)

In [3]:
# Hard termination condition for schedulers
max_time = 60*3     # 3 min

# File paths
examples_data_path = get_path("data", "examples")
basic_data_path = get_path("data", "basic")

# Simulation
simulation = ProductionSimulation(sigma = 0.2)

In [ ]:
# Load files
df_routings = pd.read_csv(basic_data_path / "ft10_routings.csv")
df_routings

In [6]:
df_jobs_times = pd.read_csv(basic_data_path / "ft10_jobs_times.csv")
df_jobs_times

           Job  Routing_ID  Arrival  Ready Time  Job Processing Time  Deadline
0     J25-0000           8       79        1440                  597      3660
1     J25-0001           6      129        1440                  416      2338
2     J25-0002           0      198        1440                  395      3744
3     J25-0003           2      243        1440                  568      3379
4     J25-0004           3      287        1440                  655      4856
5     J25-0005           1      498        1440                  510      3106
...        ...         ...      ...         ...                  ...       ...
7244  J25-7244           3   518085      518400                  655    520389
7245  J25-7245           9   518089      518400                  540    519640
7246  J25-7246           6   518116      518400                  416    520157
7247  J25-7247           1   518184      518400                  510    520172
7248  J25-7248           0   518188      518400                  395    520490
7249  J25-7249           4   518302      518400                  393    522163

[7250 rows x 6 columns]

In [ ]:
df_jssp = df_jobs_times[["Job", "Routing_ID"]].merge(df_routings, on="Routing_ID",how="left")
df_jssp